@font-face {
  font-family: 'Sevillana';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Sevillana/Sevillana-normal-400.eot);
  src: local('Sevillana'), url(../fonts/Sevillana/Sevillana-normal-400.woff) format('woff'), url(../fonts/Sevillana/Sevillana-normal-400.eot?#iefix) format('embedded-opentype'), url(../fonts/Sevillana/Sevillana-normal-400.svg#Sevillana) format('svg'), url(../fonts/Sevillana/Sevillana-normal-400.woff2) format('woff2'), url(../fonts/Sevillana/Sevillana-normal-400.ttf) format('truetype');
}

